apiVersion: batch/v1
kind: Job
metadata:
  name: ml-training-job-{{ ml_pipeline_tag | default('latest') }}
  namespace: log-anomaly
spec:
  template:
    spec:
      containers:
      - name: ml-pipeline
        image: preet1018/ml-pipeline:{{ ml_pipeline_tag | default('latest') }}
        env:
        - name: PROJECT_ROOT
          value: "/app"
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-root-username
        - name: MONGO_PASS
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-root-password
        - name: MONGO_DB
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-initdb-database
        - name: MONGO_URI
          value: "mongodb://$(MONGO_USER):$(MONGO_PASS)@mongodb:27017/$(MONGO_DB)?authSource=admin"
        volumeMounts:
        - name: models-storage
          mountPath: /app/models
        - name: data-storage
          mountPath: /app/data_storage
      restartPolicy: Never
      volumes:
      - name: models-storage
        persistentVolumeClaim:
          claimName: models-pvc
      - name: data-storage
        persistentVolumeClaim:
          claimName: data-pvc
  backoffLimit: 1
